In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
import scipy
import string
import pickle
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder            
from sklearn.svm import LinearSVC             
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestClassifier          
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

from astropy.table import Table, Column
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [2]:
import folium
import matplotlib.pyplot as plt
import seaborn as sns
import chardet

In [3]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

In [4]:
    tr_df=pd.read_csv(r"C:\\Users\zarnab shahid\Downloads\CMAPS_newData2.csv")
print("------------------------------------------------------")
print("------------------------------------------------------")
tr_df.head()

------------------------------------------------------
------------------------------------------------------

,Posting,Date,Month,Year,Days,Time,Offences,Offence Categories,Part of the Day,Latitudes,Longitudes,TGAT
0,Allama Iqbal Town,26,1,2018,Friday,0:00,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845"
1,Allama Iqbal Town,21,3,2018,Wednesday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"
2,Allama Iqbal Town,30,3,2018,Friday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"
3,Allama Iqbal Town,26,4,2018,Thursday,0:00,punjab arms ordinance bill of 2015,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845"
4,Allama Iqbal Town,3,5,2018,Thursday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"

In [5]:
tr_df.columns=['posting', 'date', 'month', 'year', 'day', 'time', 'offences', 'crime_categories','partoftheday','latitude','longitude','location']

In [6]:
# new data frame with split value columns 
new = tr_df['time'].str.split(":", n = 1, expand = True) 
  
# making separate first name column from new data frame 
tr_df["hour"]= new[0] 
  
# making separate last name column from new data frame 
tr_df["minute"]= new[1] 
  
# Dropping old Name columns 
tr_df.drop(columns =["time"], inplace = True) 
  
# df display 
tr_df

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
0,Allama Iqbal Town,26,1,2018,Friday,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
1,Allama Iqbal Town,21,3,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
2,Allama Iqbal Town,30,3,2018,Friday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
3,Allama Iqbal Town,26,4,2018,Thursday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
4,Allama Iqbal Town,3,5,2018,Thursday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
5,Allama Iqbal Town,22,5,2018,Tuesday,punjab information temporary residence ordinance,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
6,Allama Iqbal Town,12,6,2018,Tuesday,Rape,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
7,Allama Iqbal Town,4,6,2018,Monday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
8,Allama Iqbal Town,18,6,2018,Monday,M/Cycle Theft,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
9,Allama Iqbal Town,30,6,2018,Saturday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
10,Allama Iqbal Town,20,6,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
11,Allama Iqbal Town,4,7,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
12,Allama Iqbal Town,25,8,2018,Saturday,Burglary,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
13,Allama Iqbal Town,21,8,2018,Tuesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
14,Allama Iqbal Town,17,9,2018,Monday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
15,Allama Iqbal Town,20,9,2018,Thursday,M/Cycle Theft,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
16,Allama Iqbal Town,11,9,2018,Tuesday,Robbery,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
17,Allama Iqbal Town,19,9,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
18,Allama Iqbal Town,28,10,2018,Sunday,Kidnapping,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
19,Allama Iqbal Town,23,10,2018,Tuesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
20,Allama Iqbal Town,12,11,2018,Monday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
21,Anarkali,10,1,2018,Wednesday,Other Crime,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
22,Anarkali,19,7,2018,Thursday,Non-Fatal Accident,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
23,Anarkali,15,6,2018,Friday,Burglary,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
24,Anarkali,13,8,2018,Monday,M/Cycle Theft,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
25,Anarkali,25,8,2018,Saturday,Cheque Dishonour,Crime Against Person,1st,31.5698,74.3120,"31.5698,74.312",0,00
26,Anarkali,25,9,2018,Tuesday,Burglary,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
27,Anarkali,2,10,2018,Tuesday,Other Crime,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
28,Anarkali,4,3,2018,Sunday,Miscellaneous,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
29,Anarkali,11,4,2018,Wednesday,M/Cycle Theft,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33607,Shahdra Town,7,2,2018,Wednesday,Miscellaneous,Others,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33608,Shahdra Town,13,2,2018,Tuesday,begging act,Others,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33609,Shahdra Town,5,4,2018,Thursday,Narcotics,Others,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33610,Shahdra Town,19,4,2018,Thursday,Gambling,Social Evils,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33611,Shahdra Town,17,7,2018,Tuesday,M/Cycle Snatching,Crime Against Property,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33612,Shahdra Town,14,9,2018,Friday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33613,Shahdra Town,28,11,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33614,Shahdra Town,8,12,2018,Saturday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33615,Shahdra Town,26,12,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33616,Cantt,4,1,2018,Thursday,Miscellaneous,Others,6th,31.5196,74.3889,"31.5196,74.3889",23,56
33617,Lyton Road,8,11,2018,Thursday,Miscellaneous,Others,6th,31.5538,74.3115,"31.5538,74.3115",23,56
33618,Mughal Pura,13,11,2018,Tuesday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,56
33619,Mughal Pura,26,11,2018,Monday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,56
33620,Mughal Pura,25,11,2018,Sunday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,56
33621,Johar Town,5,4,2018,Thursday,Miscellaneous,Others,6th,31.4621,74.2942,"31.4621,74.2942",23,57
33622,Mughal Pura,13,11,2018,Tuesday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,57
33623,Allama Iqbal Town,22,4,2018,Sunday,Overspeeding,Social Evils,6th,31.5124,74.2845,"31.5124,74.2845",23,58
33624,Anarkali,26,8,2018,Sunday,Miscellaneous,Others,6th,31.5698,74.3120,"31.5698,74.312",23,58
33625,Faisal Town,17,1,2018,Wednesday,arms ordinance act,Acts,6th,31.4760,74.3045,"31.476,74.3045",23,58
33626,Green Town,20,2,2018,Tuesday,anti-norcotics act,Police Acts,6th,31.4346,74.3074,"31.4346,74.3074",23,58
33627,Mughal Pura,13,11,2018,Tuesday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33628,Mughal Pura,26,11,2018,Monday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33629,Mughal Pura,25,11,2018,Sunday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33630,Mughal Pura,14,12,2018,Friday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33631,Mughal Pura,14,12,2018,Friday,arms ordinance act,Acts,6th,31.5690,74.3586,"31.569,74.3586",23,58
33632,Muslim Town,18,10,2018,Thursday,Miscellaneous,Others,6th,31.5194,74.3228,"31.5194,74.3228",23,58
33633,Raiwind,6,1,2018,Saturday,Non-Fatal Accident,Others,6th,31.2449,74.2137,"31.2449,74.2137",23,58
33634,Anarkali,26,5,2018,Saturday,Miscellaneous,Others,6th,31.5698,74.3120,"31.5698,74.312",23,59
33635,Model Town,26,1,2018,Friday,anti-norcotics act,Police Acts,6th,31.4805,74.3239,"31.4805,74.3239",23,59
33636,Mughal Pura,29,9,2018,Saturday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,59

In [14]:
z_df1 = tr_df.loc[tr_df['crime_categories'].isin(['Crime Against Property','Crime Against Person', 'Ordinance','Police Acts'])]
z_df1.head()

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
0,Allama Iqbal Town,26,1,2018,Friday,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
3,Allama Iqbal Town,26,4,2018,Thursday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
5,Allama Iqbal Town,22,5,2018,Tuesday,punjab information temporary residence ordinance,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
6,Allama Iqbal Town,12,6,2018,Tuesday,Rape,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
8,Allama Iqbal Town,18,6,2018,Monday,M/Cycle Theft,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00

In [15]:
z_df1.loc[z_df1['posting'].isin(['Sarwar Road'])]

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
344,Sarwar Road,7,8,2018,Tuesday,Cheque Dishonour,Crime Against Person,1st,31.5467,74.3773,"31.5467,74.3773",0,00
708,Sarwar Road,24,6,2018,Sunday,anti-norcotics act,Police Acts,1st,31.5467,74.3773,"31.5467,74.3773",0,05
1512,Sarwar Road,20,10,2018,Saturday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5467,74.3773,"31.5467,74.3773",0,20
2611,Sarwar Road,27,2,2018,Tuesday,M/Cycle Theft,Crime Against Property,1st,31.5467,74.3773,"31.5467,74.3773",1,00
2680,Sarwar Road,29,7,2018,Sunday,anti-norcotics act,Police Acts,1st,31.5467,74.3773,"31.5467,74.3773",1,05
2753,Sarwar Road,18,4,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5467,74.3773,"31.5467,74.3773",1,10
2754,Sarwar Road,29,5,2018,Tuesday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5467,74.3773,"31.5467,74.3773",1,10
3070,Sarwar Road,23,5,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5467,74.3773,"31.5467,74.3773",1,30
3276,Sarwar Road,24,6,2018,Sunday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5467,74.3773,"31.5467,74.3773",1,50
3519,Sarwar Road,28,4,2018,Saturday,Burglary,Crime Against Property,1st,31.5467,74.3773,"31.5467,74.3773",2,00
3520,Sarwar Road,4,5,2018,Friday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5467,74.3773,"31.5467,74.3773",2,00
4301,Sarwar Road,29,8,2018,Wednesday,Burglary,Crime Against Property,1st,31.5467,74.3773,"31.5467,74.3773",3,05
4333,Sarwar Road,4,8,2018,Saturday,Burglary,Crime Against Property,1st,31.5467,74.3773,"31.5467,74.3773",3,10
5758,Sarwar Road,8,8,2018,Wednesday,M/Cycle Theft,Crime Against Property,2nd,31.5467,74.3773,"31.5467,74.3773",6,00
6599,Sarwar Road,31,1,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,2nd,31.5467,74.3773,"31.5467,74.3773",7,35
6674,Sarwar Road,20,6,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,2nd,31.5467,74.3773,"31.5467,74.3773",7,50
7543,Sarwar Road,30,6,2018,Saturday,punjab arms ordinance bill of 2015,Ordinance,3rd,31.5467,74.3773,"31.5467,74.3773",8,40
8025,Sarwar Road,10,7,2018,Tuesday,M/Cycle Theft,Crime Against Property,3rd,31.5467,74.3773,"31.5467,74.3773",9,00
8469,Sarwar Road,1,12,2018,Saturday,M/Cycle Theft,Crime Against Property,3rd,31.5467,74.3773,"31.5467,74.3773",9,30
8711,Sarwar Road,7,2,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,3rd,31.5467,74.3773,"31.5467,74.3773",9,50
9301,Sarwar Road,31,1,2018,Wednesday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",10,00
11110,Sarwar Road,1,12,2018,Saturday,punjab arms ordinance bill of 2015,Ordinance,3rd,31.5467,74.3773,"31.5467,74.3773",11,00
12358,Sarwar Road,9,1,2018,Tuesday,punjab arms ordinance bill of 2015,Ordinance,3rd,31.5467,74.3773,"31.5467,74.3773",11,50
13378,Sarwar Road,10,1,2018,Wednesday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13379,Sarwar Road,16,2,2018,Friday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13380,Sarwar Road,15,2,2018,Thursday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13381,Sarwar Road,8,2,2018,Thursday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13382,Sarwar Road,1,2,2018,Thursday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13383,Sarwar Road,24,1,2018,Wednesday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13384,Sarwar Road,20,4,2018,Friday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13397,Sarwar Road,26,9,2018,Wednesday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13398,Sarwar Road,25,6,2018,Monday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
13399,Sarwar Road,25,6,2018,Monday,Cheque Dishonour,Crime Against Person,3rd,31.5467,74.3773,"31.5467,74.3773",12,00
16440,Sarwar Road,18,2,2018,Sunday,anti-norcotics act,Police Acts,4th,31.5467,74.3773,"31.5467,74.3773",13,40
16648,Sarwar Road,20,4,2018,Friday,anti-norcotics act,Police Acts,4th,31.5467,74.3773,"31.5467,74.3773",13,50
17679,Sarwar Road,26,4,2018,Thursday,punjab arms ordinance bill of 2015,Ordinance,4th,31.5467,74.3773,"31.5467,74.3773",14,15
17766,Sarwar Road,20,6,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,4th,31.5467,74.3773,"31.5467,74.3773",14,20
19060,Sarwar Road,30,9,2018,Sunday,Kidnapping,Crime Against Person,4th,31.5467,74.3773,"31.5467,74.3773",15,00
21031,Sarwar Road,26,4,2018,Thursday,punjab arms ordinance bill of 2015,Ordinance,5th,31.5467,74.3773,"31.5467,74.3773",16,15
21589,Sarwar Road,18,4,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,5th,31.5467,74.3773,"31.5467,74.3773",16,40
22391,Sarwar Road,10,1,2018,Wednesday,M/Cycle Theft,Crime Against Property,5th,31.5467,74.3773,"31.5467,74.3773",17,00
22393,Sarwar Road,27,3,2018,Tuesday,anti-norcotics act,Police Acts,5th,31.5467,74.3773,"31.5467,74.3773",17,00
23406,Sarwar Road,2,6,2018,Saturday,punjab arms ordinance bill of 2015,Ordinance,5th,31.5467,74.3773,"31.5467,74.3773",17,50
24352,Sarwar Road,27,3,2018,Tuesday,anti-norcotics act,Police Acts,5th,31.5467,74.3773,"31.5467,74.3773",18,20
25562,Sarwar Road,13,11,2018,Tuesday,punjab arms ordinance bill of 2015,Ordinance,5th,31.5467,74.3773,"31.5467,74.3773",19,00
25826,Sarwar Road,23,2,2018,Friday,Kidnapping,Crime Against Person,5th,31.5467,74.3773,"31.5467,74.3773",19,15
26325,Sarwar Road,12,11,2018,Monday,Attempted Murder,Crime Against Person,5th,31.5467,74.3773,"31.5467,74.3773",19,30
28367,Sarwar Road,7,3,2018,Wednesday,M/Cycle Theft,Crime Against Property,6th,31.5467,74.3773,"31.5467,74.3773",20,30
28368,Sarwar Road,5,7,2018,Thursday,M/Cycle Theft,Crime Against Property,6th,31.5467,74.3773,"31.5467,74.3773",20,30
28369,Sarwar Road,29,7,2018,Sunday,Kidnapping,Crime Against Person,6th,31.5467,74.3773,"31.5467,74.3773",20,30
29286,Sarwar Road,13,8,2018,Monday,Burglary,Crime Against Property,6th,31.5467,74.3773,"31.5467,74.3773",21,00
29288,Sarwar Road,8,10,2018,Monday,M/Cycle Theft,Crime Against Property,6th,31.5467,74.3773,"31.5467,74.3773",21,00
29290,Sarwar Road,12,11,2018,Monday,punjab arms ordinance bill of 2015,Ordinance,6th,31.5467,74.3773,"31.5467,74.3773",21,00
29723,Sarwar Road,4,5,2018,Friday,Kidnapping,Crime Against Person,6th,31.5467,74.3773,"31.5467,74.3773",21,25
30015,Sarwar Road,24,12,2018,Monday,anti-norcotics act,Police Acts,6th,31.5467,74.3773,"31.5467,74.3773",21,30
30775,Sarwar Road,5,6,2018,Tuesday,Kidnapping,Crime Against Person,6th,31.5467,74.3773,"31.5467,74.3773",22,00
31071,Sarwar Road,5,3,2018,Monday,Kidnapping,Crime Against Person,6th,31.5467,74.3773,"31.5467,74.3773",22,20
31340,Sarwar Road,8,8,2018,Wednesday,Kidnapping,Crime Against Person,6th,31.5467,74.3773,"31.5467,74.3773",22,30
32698,Sarwar Road,10,4,2018,Tuesday,punjab arms ordinance bill of 2015,Ordinance,6th,31.5467,74.3773,"31.5467,74.3773",23,30
32798,Sarwar Road,12,10,2018,Friday,punjab arms ordinance bill of 2015,Ordinance,6th,31.5467,74.3773,"31.5467,74.3773",23,40

In [17]:
# Sort the rows of dataframe by column 
z_df1 = z_df1.sort_values(by ='crime_categories')

z_df1.head()

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
0,Allama Iqbal Town,26,1,2018,Friday,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
10077,Saman Abad,9,11,2018,Friday,Cheque Dishonour,Crime Against Person,3rd,31.5356,74.2985,"31.5356,74.2985",10,30
10076,Saman Abad,18,9,2018,Tuesday,Cheque Dishonour,Crime Against Person,3rd,31.5356,74.2985,"31.5356,74.2985",10,30
10075,Saman Abad,30,7,2018,Monday,Cheque Dishonour,Crime Against Person,3rd,31.5356,74.2985,"31.5356,74.2985",10,30
10074,Saman Abad,18,9,2018,Tuesday,Cheque Dishonour,Crime Against Person,3rd,31.5356,74.2985,"31.5356,74.2985",10,30

In [18]:
z_df1['crime_categories']= label_encoder.fit_transform(z_df1['crime_categories']) 
z_df1['crime_categories'].unique()

array([0, 1, 2, 3], dtype=int64)

In [19]:
z_df1.head()

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
0,Allama Iqbal Town,26,1,2018,Friday,Outraging the Modesty of Women,0,1st,31.5124,74.2845,"31.5124,74.2845",0,00
10077,Saman Abad,9,11,2018,Friday,Cheque Dishonour,0,3rd,31.5356,74.2985,"31.5356,74.2985",10,30
10076,Saman Abad,18,9,2018,Tuesday,Cheque Dishonour,0,3rd,31.5356,74.2985,"31.5356,74.2985",10,30
10075,Saman Abad,30,7,2018,Monday,Cheque Dishonour,0,3rd,31.5356,74.2985,"31.5356,74.2985",10,30
10074,Saman Abad,18,9,2018,Tuesday,Cheque Dishonour,0,3rd,31.5356,74.2985,"31.5356,74.2985",10,30

# key 'Crime Against Person','Crime Against Property', 'Ordinance','Police Acts' = 0,1,2,3

In [20]:
z_df1['day']= label_encoder.fit_transform(z_df1['day']) 
z_df1['day'].unique()
z_df1['posting']= label_encoder.fit_transform(z_df1['posting']) 
z_df1['posting'].unique()
z_df1['partoftheday']= label_encoder.fit_transform(z_df1['partoftheday']) 
z_df1['partoftheday'].unique()
z_df1['location']= label_encoder.fit_transform(z_df1['location']) 
z_df1['location'].unique()

array([ 9, 15, 13,  1, 26, 16,  8,  0, 25, 10, 24,  7,  6,  2, 12,  5, 27,
       22, 17, 11, 23, 20, 14,  3,  4, 21, 19, 18], dtype=int64)

In [21]:
X = z_df1.drop([ 'offences', 'crime_categories'] , axis=1)
X.head()

,posting,date,month,year,day,partoftheday,latitude,longitude,location,hour,minute
0,0,26,1,2018,0,0,31.5124,74.2845,9,0,00
10077,22,9,11,2018,0,2,31.5356,74.2985,15,10,30
10076,22,18,9,2018,5,2,31.5356,74.2985,15,10,30
10075,22,30,7,2018,1,2,31.5356,74.2985,15,10,30
10074,22,18,9,2018,5,2,31.5356,74.2985,15,10,30

In [22]:
y = z_df1.drop(['posting', 'date', 'month', 'year', 'day', 'hour','minute', 'offences','partoftheday','latitude','longitude','location'] , axis=1)
y.head()

       crime_categories
0                     0
10077                 0
10076                 0
10075                 0
10074                 0

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

# K-fold cross validation with k = 5 & random state = 40

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [103]:
#rfc with full dataset
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X, y.values.ravel(), cv=5)
np.average(scores_rfc)

0.4635746606334842

In [104]:
#rfc training data set
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X_train, y_train.values.ravel(), cv=5)
np.average(scores_rfc)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.5602175602175603

In [105]:
#knn with full dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X,y.values.ravel(),cv=5)
np.average(scores_knn)

0.4246606334841629

In [106]:
#knn with train dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X_train,y_train.values.ravel(),cv=5)
np.average(scores_knn)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.38853923853923855

In [107]:
#dectree with full dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X,y.values.ravel(),cv=5)
np.average(scores_dec)

0.4885746606334842

In [108]:
#dectree with train dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X_train,y_train.values.ravel(),cv=5)
np.average(scores_dec)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.5574203574203574

In [109]:
#svm full dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X, y.values.ravel(),cv=5)
np.average(scores_svm)

0.49366515837104064

In [110]:
#svm train dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X_train, y_train.values.ravel(),cv=5)
np.average(scores_svm)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.4844988344988345

In [111]:
#lgr full dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X, y.values.ravel(),cv=5)
np.average(scores_lgr)

0.4664592760180996

In [112]:
#lgr train dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, y_train.values.ravel(),cv=5)
np.average(scores_lgr)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.48368298368298374

# K-fold cross validation with k = 10 & random state = 40

In [113]:
#rfc with full dataset
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X, y.values.ravel(), cv=10)
np.average(scores_rfc)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 7 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.5352380952380953

In [114]:
#rfc training data set
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X_train, y_train.values.ravel(), cv=10)
np.average(scores_rfc)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.4882142857142857

In [115]:
#knn with full dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X,y.values.ravel(),cv=10)
np.average(scores_knn)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 7 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.5293650793650794

In [116]:
#knn with train dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X_train,y_train.values.ravel(),cv=10)
np.average(scores_knn)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.4647619047619048

In [119]:
#dectree with full dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X,y.values.ravel(),cv=10)
np.average(scores_dec)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 7 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.5695238095238095

In [120]:
#dectree with train dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X_train,y_train.values.ravel(),cv=10)
np.average(scores_dec)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.5539285714285714

In [121]:
#svm full dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X, y.values.ravel(),cv=10)
np.average(scores_svm)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 7 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.4863492063492063

In [122]:
#svm train dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X_train, y_train.values.ravel(),cv=10)
np.average(scores_svm)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.5157142857142857

In [123]:
#lgr full dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X, y.values.ravel(),cv=10)
np.average(scores_lgr)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 7 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.5023809523809524

In [124]:
#lgr train dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, y_train.values.ravel(),cv=10)
np.average(scores_lgr)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.4886904761904762

# Saving decision tree (train dataset cv=10 )

In [25]:
#svm

dec = DecisionTreeClassifier( random_state=40)
dec.fit(X,y.values.ravel())
dec.score(X, y.values.ravel())

0.9954616471988691

In [26]:
#saving pickle file
# save the model to disk
filename = 'finalized_model_A28.sav'
pickle.dump(dec, open(filename, 'wb'))

In [27]:
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open('finalized_model_A28.sav', 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9936779471922648

In [28]:
#PREDICTING ON UNSEEN EXAMPLE
#Taking Inputs:


date = int(input("Please enter date :"))
month = int(input("Please enter month :"))
year = int(input("Please enter year :"))
day = int(input("Please enter day :"))
hour = int(input("Please enter hour :"))
minute = int(input("Please enter minute :"))
partoftheday = int(input("Please enter part of the day b/w 1-6 :"))
latitude = float(input("Please enter latitude :"))
longitude = float(input("Please enter longitude:"))

user_data = pd.DataFrame({'posting':[0],'date': [date],
                          'month': [month],'year': [year],'day': [day],
                          'hour': [hour],'minute':[minute],'partoftheday': [partoftheday],'latitude': [latitude],
                         'longitude': [longitude],'location': [0]})
print(user_data)

user_model = (user_data.values)
predict = loaded_model.predict(user_model)
print("crime category")
print("-"*70) 
print("-"*70) 
print("Prediction:", predict)

Please enter date :1
Please enter month :2
Please enter year :3
Please enter day :4
Please enter hour :5
Please enter minute :6
Please enter part of the day b/w 1-6 :7
Please enter latitude :8
Please enter longitude:9
   posting  date  month  year  day  hour  minute  partoftheday  latitude  \
0        0     1      2     3    4     5       6             7       8.0

   longitude  location
0        9.0         0
crime category
----------------------------------------------------------------------
----------------------------------------------------------------------
Prediction: [1]

In [29]:
if (predict == 0):
    print( result*100, "%\033[1m chance of a crime that qualifies as a Crime Against Person occuring in Sarwar Road. " , sep = '')
elif(predict == 1):
    print(result*100, "%\033[1m chance of a crime that qualifies as a Crime Against Property occuring in Sarwar Road. " , sep = '')
elif(predict == 2):
     print(result*100, "%\033[1m chance of a crime that qualifies as a Crime Ordinance Person occuring in Sarwar Road. " , sep = '')     
elif(predict == 3):
    print(result*100, "%\033[1m chance of a crime that qualifies as a Police Acts Person occuring in Sarwar Road. " , sep = '')

99.36779471922648% chance of a crime that qualifies as a Crime Against Property occuring in Sarwar Road.