In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
import scipy
import string
import pickle
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder            
from sklearn.svm import LinearSVC             
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestClassifier          
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

from astropy.table import Table, Column
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [2]:
import folium
import matplotlib.pyplot as plt
import seaborn as sns
import chardet

In [3]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

In [4]:
    tr_df=pd.read_csv(r"C:\\Users\zarnab shahid\Downloads\CMAPS_newData2.csv")
print("------------------------------------------------------")
print("------------------------------------------------------")
tr_df.head()

------------------------------------------------------
------------------------------------------------------

,Posting,Date,Month,Year,Days,Time,Offences,Offence Categories,Part of the Day,Latitudes,Longitudes,TGAT
0,Allama Iqbal Town,26,1,2018,Friday,0:00,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845"
1,Allama Iqbal Town,21,3,2018,Wednesday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"
2,Allama Iqbal Town,30,3,2018,Friday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"
3,Allama Iqbal Town,26,4,2018,Thursday,0:00,punjab arms ordinance bill of 2015,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845"
4,Allama Iqbal Town,3,5,2018,Thursday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"

In [5]:
tr_df.columns=['posting', 'date', 'month', 'year', 'day', 'time', 'offences', 'crime_categories','partoftheday','latitude','longitude','location']

In [6]:
# new data frame with split value columns 
new = tr_df['time'].str.split(":", n = 1, expand = True) 
  
# making separate first name column from new data frame 
tr_df["hour"]= new[0] 
  
# making separate last name column from new data frame 
tr_df["minute"]= new[1] 
  
# Dropping old Name columns 
tr_df.drop(columns =["time"], inplace = True) 
  
# df display 
tr_df

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
0,Allama Iqbal Town,26,1,2018,Friday,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
1,Allama Iqbal Town,21,3,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
2,Allama Iqbal Town,30,3,2018,Friday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
3,Allama Iqbal Town,26,4,2018,Thursday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
4,Allama Iqbal Town,3,5,2018,Thursday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
5,Allama Iqbal Town,22,5,2018,Tuesday,punjab information temporary residence ordinance,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
6,Allama Iqbal Town,12,6,2018,Tuesday,Rape,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
7,Allama Iqbal Town,4,6,2018,Monday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
8,Allama Iqbal Town,18,6,2018,Monday,M/Cycle Theft,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
9,Allama Iqbal Town,30,6,2018,Saturday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
10,Allama Iqbal Town,20,6,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
11,Allama Iqbal Town,4,7,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
12,Allama Iqbal Town,25,8,2018,Saturday,Burglary,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
13,Allama Iqbal Town,21,8,2018,Tuesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
14,Allama Iqbal Town,17,9,2018,Monday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
15,Allama Iqbal Town,20,9,2018,Thursday,M/Cycle Theft,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
16,Allama Iqbal Town,11,9,2018,Tuesday,Robbery,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00
17,Allama Iqbal Town,19,9,2018,Wednesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
18,Allama Iqbal Town,28,10,2018,Sunday,Kidnapping,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
19,Allama Iqbal Town,23,10,2018,Tuesday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
20,Allama Iqbal Town,12,11,2018,Monday,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845",0,00
21,Anarkali,10,1,2018,Wednesday,Other Crime,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
22,Anarkali,19,7,2018,Thursday,Non-Fatal Accident,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
23,Anarkali,15,6,2018,Friday,Burglary,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
24,Anarkali,13,8,2018,Monday,M/Cycle Theft,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
25,Anarkali,25,8,2018,Saturday,Cheque Dishonour,Crime Against Person,1st,31.5698,74.3120,"31.5698,74.312",0,00
26,Anarkali,25,9,2018,Tuesday,Burglary,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
27,Anarkali,2,10,2018,Tuesday,Other Crime,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
28,Anarkali,4,3,2018,Sunday,Miscellaneous,Others,1st,31.5698,74.3120,"31.5698,74.312",0,00
29,Anarkali,11,4,2018,Wednesday,M/Cycle Theft,Crime Against Property,1st,31.5698,74.3120,"31.5698,74.312",0,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33607,Shahdra Town,7,2,2018,Wednesday,Miscellaneous,Others,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33608,Shahdra Town,13,2,2018,Tuesday,begging act,Others,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33609,Shahdra Town,5,4,2018,Thursday,Narcotics,Others,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33610,Shahdra Town,19,4,2018,Thursday,Gambling,Social Evils,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33611,Shahdra Town,17,7,2018,Tuesday,M/Cycle Snatching,Crime Against Property,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33612,Shahdra Town,14,9,2018,Friday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33613,Shahdra Town,28,11,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33614,Shahdra Town,8,12,2018,Saturday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33615,Shahdra Town,26,12,2018,Wednesday,punjab arms ordinance bill of 2015,Ordinance,6th,31.6211,74.2824,"31.6211,74.2824",23,55
33616,Cantt,4,1,2018,Thursday,Miscellaneous,Others,6th,31.5196,74.3889,"31.5196,74.3889",23,56
33617,Lyton Road,8,11,2018,Thursday,Miscellaneous,Others,6th,31.5538,74.3115,"31.5538,74.3115",23,56
33618,Mughal Pura,13,11,2018,Tuesday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,56
33619,Mughal Pura,26,11,2018,Monday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,56
33620,Mughal Pura,25,11,2018,Sunday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,56
33621,Johar Town,5,4,2018,Thursday,Miscellaneous,Others,6th,31.4621,74.2942,"31.4621,74.2942",23,57
33622,Mughal Pura,13,11,2018,Tuesday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,57
33623,Allama Iqbal Town,22,4,2018,Sunday,Overspeeding,Social Evils,6th,31.5124,74.2845,"31.5124,74.2845",23,58
33624,Anarkali,26,8,2018,Sunday,Miscellaneous,Others,6th,31.5698,74.3120,"31.5698,74.312",23,58
33625,Faisal Town,17,1,2018,Wednesday,arms ordinance act,Acts,6th,31.4760,74.3045,"31.476,74.3045",23,58
33626,Green Town,20,2,2018,Tuesday,anti-norcotics act,Police Acts,6th,31.4346,74.3074,"31.4346,74.3074",23,58
33627,Mughal Pura,13,11,2018,Tuesday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33628,Mughal Pura,26,11,2018,Monday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33629,Mughal Pura,25,11,2018,Sunday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33630,Mughal Pura,14,12,2018,Friday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,58
33631,Mughal Pura,14,12,2018,Friday,arms ordinance act,Acts,6th,31.5690,74.3586,"31.569,74.3586",23,58
33632,Muslim Town,18,10,2018,Thursday,Miscellaneous,Others,6th,31.5194,74.3228,"31.5194,74.3228",23,58
33633,Raiwind,6,1,2018,Saturday,Non-Fatal Accident,Others,6th,31.2449,74.2137,"31.2449,74.2137",23,58
33634,Anarkali,26,5,2018,Saturday,Miscellaneous,Others,6th,31.5698,74.3120,"31.5698,74.312",23,59
33635,Model Town,26,1,2018,Friday,anti-norcotics act,Police Acts,6th,31.4805,74.3239,"31.4805,74.3239",23,59
33636,Mughal Pura,29,9,2018,Saturday,Miscellaneous,Others,6th,31.5690,74.3586,"31.569,74.3586",23,59

In [7]:
z_df = tr_df.loc[tr_df['crime_categories'].isin(['Crime Against Property','Crime Against Person', 'Ordinance','Police Acts'])]
z_df.head()

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
0,Allama Iqbal Town,26,1,2018,Friday,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
3,Allama Iqbal Town,26,4,2018,Thursday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
5,Allama Iqbal Town,22,5,2018,Tuesday,punjab information temporary residence ordinance,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845",0,00
6,Allama Iqbal Town,12,6,2018,Tuesday,Rape,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845",0,00
8,Allama Iqbal Town,18,6,2018,Monday,M/Cycle Theft,Crime Against Property,1st,31.5124,74.2845,"31.5124,74.2845",0,00

In [8]:
z_df1 = z_df.loc[z_df['posting'].isin(['Ravi Road '])]
z_df1.head()

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
303,Ravi Road,4,1,2018,Thursday,Burglary,Crime Against Property,1st,31.5946,74.302,"31.5946,74.302",0,00
304,Ravi Road,5,2,2018,Monday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5946,74.302,"31.5946,74.302",0,00
305,Ravi Road,26,5,2018,Saturday,Kidnapping,Crime Against Person,1st,31.5946,74.302,"31.5946,74.302",0,00
646,Ravi Road,11,1,2018,Thursday,punjab arms ordinance bill of 2015,Ordinance,1st,31.5946,74.302,"31.5946,74.302",0,05
647,Ravi Road,27,1,2018,Saturday,punjab information temporary residence ordinance,Ordinance,1st,31.5946,74.302,"31.5946,74.302",0,05

In [9]:
# Sort the rows of dataframe by column 
z_df1 = z_df1.sort_values(by ='crime_categories')
z_df1.head()

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
22321,Ravi Road,29,1,2018,Monday,Hurt (personal feud),Crime Against Person,5th,31.5946,74.302,"31.5946,74.302",17,00
23070,Ravi Road,15,3,2018,Thursday,Cheque Dishonour,Crime Against Person,5th,31.5946,74.302,"31.5946,74.302",17,30
23071,Ravi Road,4,5,2018,Friday,Hurt (personal feud),Crime Against Person,5th,31.5946,74.302,"31.5946,74.302",17,30
23072,Ravi Road,25,4,2018,Wednesday,Cheque Dishonour,Crime Against Person,5th,31.5946,74.302,"31.5946,74.302",17,30
16270,Ravi Road,17,4,2018,Tuesday,Cheque Dishonour,Crime Against Person,4th,31.5946,74.302,"31.5946,74.302",13,30

In [10]:
z_df1['crime_categories']= label_encoder.fit_transform(z_df1['crime_categories']) 
z_df1['crime_categories'].unique()

array([0, 1, 2, 3], dtype=int64)

In [11]:
z_df1.head()

,posting,date,month,year,day,offences,crime_categories,partoftheday,latitude,longitude,location,hour,minute
22321,Ravi Road,29,1,2018,Monday,Hurt (personal feud),0,5th,31.5946,74.302,"31.5946,74.302",17,00
23070,Ravi Road,15,3,2018,Thursday,Cheque Dishonour,0,5th,31.5946,74.302,"31.5946,74.302",17,30
23071,Ravi Road,4,5,2018,Friday,Hurt (personal feud),0,5th,31.5946,74.302,"31.5946,74.302",17,30
23072,Ravi Road,25,4,2018,Wednesday,Cheque Dishonour,0,5th,31.5946,74.302,"31.5946,74.302",17,30
16270,Ravi Road,17,4,2018,Tuesday,Cheque Dishonour,0,4th,31.5946,74.302,"31.5946,74.302",13,30

# key 'Crime Against Person','Crime Against Property', 'Ordinance','Police Acts' = 0,1,2,3

In [12]:
z_df1['day']= label_encoder.fit_transform(z_df1['day']) 
z_df1['day'].unique()
z_df1['partoftheday']= label_encoder.fit_transform(z_df1['partoftheday']) 
z_df1['partoftheday'].unique()
z_df1['posting']= label_encoder.fit_transform(z_df1['posting']) 
z_df1['posting'].unique()
z_df1['location']= label_encoder.fit_transform(z_df1['location']) 
z_df1['location'].unique()

array([0], dtype=int64)

In [13]:
X = z_df1.drop([ 'offences', 'crime_categories'] , axis=1)
X.head()

,posting,date,month,year,day,partoftheday,latitude,longitude,location,hour,minute
22321,0,29,1,2018,1,4,31.5946,74.302,0,17,00
23070,0,15,3,2018,4,4,31.5946,74.302,0,17,30
23071,0,4,5,2018,0,4,31.5946,74.302,0,17,30
23072,0,25,4,2018,6,4,31.5946,74.302,0,17,30
16270,0,17,4,2018,5,3,31.5946,74.302,0,13,30

In [14]:
y = z_df1.drop(['posting', 'date', 'month', 'year', 'day', 'hour','minute', 'offences','partoftheday','latitude','longitude','location'] , axis=1)
y.head()

       crime_categories
22321                 0
23070                 0
23071                 0
23072                 0
16270                 0

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

# K-fold cross validation with k = 5 & random state = 40

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [17]:
#rfc with full dataset
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X, y.values.ravel(), cv=5)
np.average(scores_rfc)

0.3327439227439227

In [18]:
#rfc training data set
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X_train, y_train.values.ravel(), cv=5)
np.average(scores_rfc)

0.5395923306304719

In [19]:
#knn with full dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X,y.values.ravel(),cv=5)
np.average(scores_knn)

0.3443672993672994

In [20]:
#knn with train dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X_train,y_train.values.ravel(),cv=5)
np.average(scores_knn)

0.4498180342558317

In [21]:
#dectree with full dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X,y.values.ravel(),cv=5)
np.average(scores_dec)

0.28008574758574756

In [22]:
#dectree with train dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X_train,y_train.values.ravel(),cv=5)
np.average(scores_dec)

0.45406509951063095

In [23]:
#svm full dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X, y.values.ravel(),cv=5)
np.average(scores_svm)

0.37484931734931737

In [24]:
#svm train dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X_train, y_train.values.ravel(),cv=5)
np.average(scores_svm)

0.47927014869935275

In [25]:
#lgr full dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X, y.values.ravel(),cv=5)
np.average(scores_lgr)

0.3308899433899434

In [26]:
#lgr train dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, y_train.values.ravel(),cv=5)
np.average(scores_lgr)

0.3799555696154718

# K-fold cross validation with k = 10 & random state = 40

In [27]:
#rfc with full dataset
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X, y.values.ravel(), cv=10)
np.average(scores_rfc)

0.38487376979032945

In [28]:
#rfc training data set
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X_train, y_train.values.ravel(), cv=10)
np.average(scores_rfc)

0.5451001955034214

In [29]:
#knn with full dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X,y.values.ravel(),cv=10)
np.average(scores_knn)

0.3826272999572101

In [30]:
#knn with train dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X_train,y_train.values.ravel(),cv=10)
np.average(scores_knn)

0.4549700635386119

In [31]:
#dectree with full dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X,y.values.ravel(),cv=10)
np.average(scores_dec)

0.28838912478193607

In [32]:
#dectree with train dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X_train,y_train.values.ravel(),cv=10)
np.average(scores_dec)

0.5008088954056695

In [33]:
#svm full dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X, y.values.ravel(),cv=10)
np.average(scores_svm)

0.3998930252460419

In [34]:
#svm train dataset
scores_svm=cross_val_score(SVC(gamma='auto'), X_train, y_train.values.ravel(),cv=10)
np.average(scores_svm)

0.4849755620723363

In [35]:
#lgr full dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X, y.values.ravel(),cv=10)
np.average(scores_lgr)

0.3616586024159837

In [36]:
#lgr train dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, y_train.values.ravel(),cv=10)
np.average(scores_lgr)

0.37343047409579666

# Saving Random Forest (train dataset cv=10 random state = 40)

In [17]:
#rfc

rf = RandomForestClassifier(n_estimators=40)
rf.fit(X_train,y_train.values.ravel())
rf.score(X_test, y_test.values.ravel())

0.4430379746835443

In [18]:
#saving pickle file
# save the model to disk
filename = 'finalized_model_A17.sav'
pickle.dump(rf, open(filename, 'wb'))

In [19]:
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open('finalized_model_A17.sav', 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.4430379746835443

In [41]:
#PREDICTING ON UNSEEN EXAMPLE
#Taking Inputs:


date = int(input("Please enter date :"))
month = int(input("Please enter month :"))
year = int(input("Please enter year :"))
day = int(input("Please enter day :"))
hour = int(input("Please enter hour :"))
minute = int(input("Please enter minute :"))
partoftheday = int(input("Please enter part of the day b/w 1-6 :"))
latitude = float(input("Please enter latitude :"))
longitude = float(input("Please enter longitude:"))

user_data = pd.DataFrame({'posting':[0],'date': [date],
                          'month': [month],'year': [year],'day': [day],
                          'hour': [hour],'minute':[minute],'partoftheday': [partoftheday],'latitude': [latitude],
                         'longitude': [longitude],'location': [0]})
print(user_data)

user_model = (user_data.values)
predict = loaded_model.predict(user_model)
print("crime category")
print("-"*70) 
print("-"*70) 
print("Prediction:", predict)

Please enter date :3
Please enter month :3
Please enter year :3
Please enter day :3
Please enter time :3
Please enter part of the day b/w 1-6 :3
Please enter latitude :3
Please enter longitude:3
   posting  date  month  year  day  time  partoftheday  latitude  longitude  \
0        0     3      3     3    3     3             3       3.0        3.0

   location
0         0
crime category
----------------------------------------------------------------------
----------------------------------------------------------------------
Prediction: [2]

In [43]:
if (predict == 0):
    print( result*100, "%\033[1m chance of a crime that qualifies as a Crime Against Person occuring in Ravi Road. " , sep = '')
elif(predict == 1):
    print(result*100, "%\033[1m chance of a crime that qualifies as a Crime Against Property occuring in Ravi Road. " , sep = '')
elif(predict == 2):
     print(result*100, "%\033[1m chance of a crime that qualifies as a Crime Ordinance Person occuring in Ravi Road. " , sep = '')     
elif(predict == 3):
    print(result*100, "%\033[1m chance of a crime that qualifies as a Police Acts Person occuring in Ravi Road. " , sep = '')

44.303797468354425% chance of a crime that qualifies as a Crime Ordinance Person occuring in Ravi Road.