In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
import scipy
import string
import pickle
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder            
from sklearn.svm import LinearSVC             
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestClassifier          
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

from astropy.table import Table, Column
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [3]:
import folium
import matplotlib.pyplot as plt
import seaborn as sns
import chardet

In [4]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

In [5]:
with open('C:\\Users\zarnab shahid\Downloads\CMAPS_newData2.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large
    
tr_df=pd.read_csv(r"C:\\Users\zarnab shahid\Downloads\CMAPS_newData2.csv",encoding=result['encoding'])
print("------------------------------------------------------")
print("------------------------------------------------------")
tr_df.head()

------------------------------------------------------
------------------------------------------------------

,Posting,Date,Month,Year,Days,Time,Offences,Offence Categories,Part of the Day,Latitudes,Longitudes,TGAT
0,Allama Iqbal Town,26,1,2018,Friday,0:00,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845"
1,Allama Iqbal Town,21,3,2018,Wednesday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"
2,Allama Iqbal Town,30,3,2018,Friday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"
3,Allama Iqbal Town,26,4,2018,Thursday,0:00,punjab arms ordinance bill of 2015,Ordinance,1st,31.5124,74.2845,"31.5124,74.2845"
4,Allama Iqbal Town,3,5,2018,Thursday,0:00,Other Crime,Others,1st,31.5124,74.2845,"31.5124,74.2845"

In [6]:
tr_df.columns=['posting', 'date', 'month', 'year', 'day', 'time', 'offences', 'crime_categories','partoftheday','latitude','longitude','location']

In [7]:
# Sort the rows of dataframe by column 
m_df1 = tr_df.sort_values(by ='posting')
m_df1.head()

,posting,date,month,year,day,time,offences,crime_categories,partoftheday,latitude,longitude,location
0,Allama Iqbal Town,26,1,2018,Friday,0:00,Outraging the Modesty of Women,Crime Against Person,1st,31.5124,74.2845,"31.5124,74.2845"
27509,Allama Iqbal Town,26,8,2018,Sunday,20:10,Miscellaneous,Others,6th,31.5124,74.2845,"31.5124,74.2845"
27510,Allama Iqbal Town,15,12,2018,Saturday,20:10,Other Crime,Others,6th,31.5124,74.2845,"31.5124,74.2845"
16002,Allama Iqbal Town,4,9,2018,Tuesday,13:30,electricity act,Others,4th,31.5124,74.2845,"31.5124,74.2845"
16001,Allama Iqbal Town,4,9,2018,Tuesday,13:30,Other Crime,Others,4th,31.5124,74.2845,"31.5124,74.2845"

In [8]:
m_df1['posting'].unique()

array(['Allama Iqbal Town', 'Anarkali', 'Cantt', 'Chung', 'Defence A',
       'Faisal Town ', 'Gardan Town', 'Green Town', 'Gulberg',
       'Gulshan Ravi ', 'Hadyara', 'Ichra', 'Johar Town', 'Lyton Road',
       'Model Town', 'Mozang', 'Mughal Pura', 'Muslim Town',
       'Race Course', 'Raiwind', 'Ravi Road ', 'Sabzazar', 'Saman Abad',
       'Sarwar Road', 'Shad Bagh', 'Shadman', 'Shahdra Town',
       'barki road', 'barki road '], dtype=object)

In [9]:
m_df1['posting']= label_encoder.fit_transform(m_df1['posting']) 
m_df1['posting'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [10]:
m_df1['offences']= label_encoder.fit_transform(m_df1['offences']) 
m_df1['offences'].unique()

array([32, 25, 29, 55, 42, 47, 48, 20,  2, 70, 14, 40, 68,  9, 21, 34, 24,
        5, 31, 74, 33, 57, 27, 17, 44, 26, 64, 72, 18, 46,  1,  3,  4, 65,
       51,  8,  7, 23, 71, 13, 53, 16, 54, 37, 45, 62, 12, 52, 75, 38, 28,
       63, 76, 11, 69, 61, 10, 58, 30, 60, 56, 50, 22, 66, 15,  0, 59, 19,
       36, 39, 41, 67, 73, 43, 49, 35,  6], dtype=int64)

In [11]:
X = m_df1.drop([ 'posting', 'date', 'month', 'year', 'day', 'time',
       'crime_categories', 'partoftheday', 'latitude', 'longitude',
       'location'] , axis=1)
X.head()

       offences
0            32
27509        25
27510        29
16002        55
16001        29

In [12]:
y = m_df1.drop(['month', 'date', 'day', 'year', 'crime_categories', 'time', 'offences','partoftheday','latitude','longitude','location'] , axis=1)
y.head()

       posting
0            0
27509        0
27510        0
16002        0
16001        0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [35]:
#rfc training data set
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X_train, y_train.values.ravel(), cv=5)
np.average(scores_rfc)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.11951215467942074

In [36]:
#rfc with full dataset
scores_rfc = cross_val_score(RandomForestClassifier(n_estimators=40),X, y.values.ravel(), cv=5)
np.average(scores_rfc)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.11165045730265247

In [37]:
#knn with full dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X,y.values.ravel(),cv=5)
np.average(scores_knn)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.07820417230953534

In [38]:
#knn with train dataset
scores_knn = cross_val_score(KNeighborsClassifier(n_neighbors=40),X_train,y_train.values.ravel(),cv=5)
np.average(scores_knn)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.09029724699700008

In [39]:
#dectree with full dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X,y.values.ravel(),cv=5)
np.average(scores_dec)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.11272132468390002

In [41]:
#lgr full dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X, y.values.ravel(),cv=5)
np.average(scores_lgr)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.09816580037750355

In [42]:
#lgr train dataset
scores_lgr = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, y_train.values.ravel(),cv=5)
np.average(scores_lgr)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.09725383922627857

In [40]:
#dectree with train dataset 
scores_dec=cross_val_score(DecisionTreeClassifier( random_state=40),X_train,y_train.values.ravel(),cv=5)
np.average(scores_dec)

C:\Users\zarnab shahid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

0.12051475645577699

In [15]:
#Decision tree classifier 

dec = DecisionTreeClassifier( random_state=40)
dec.fit(X_train,y_train.values.ravel())
dec.score(X_test, y_test.values.ravel())

0.12633769322235433

In [16]:
#saving pickle file
# save the model to disk
filename = 'finalized_model_area.sav'
pickle.dump(dec, open(filename, 'wb'))

In [17]:
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open('finalized_model_area.sav', 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.12633769322235433

key 
'Allama Iqbal Town' = 0, 
'Anarkali'=1
'Cantt'= 2
'Chung'= 3
'Defence A'= 4
'Faisal Town ' =5
'Gardan Town'= 6
'Green Town'= 7
'Gulberg'= 8
'Gulshan Ravi '= 9
'Hadyara' = 10
'Ichra'= 11
'Johar Town' =12
'Lyton Road'= 13
'Model Town'= 14
'Mozang'= 15
'Mughal Pura'= 16
'Muslim Town' = 17
'Race Course'= 18
'Raiwind'= 19
'Ravi Road '= 20
'Sabzazar'= 21
'Saman Abad'= 22
'Sarwar Road'= 23
'Shad Bagh'= 24
'Shadman'= 25
'Shahdra Town'= 26
'barki road'= 27
'barki road' = 28

In [18]:
#PREDICTING ON UNSEEN EXAMPLE
#Taking Inputs:


#posting = int(input("Please enter your GRE Score :"))
crime = int(input("Please enter crime :"))


user_data = pd.DataFrame({'crime':[crime]})

user_model = scipy.sparse.csr_matrix(user_data.values)
predict = loaded_model.predict(user_model)

if (predict == 0):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m  Allama Iqbal Town")
elif(predict == 1):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Anarkali")
elif(predict == 2):
     print("There is a", result*100 , "% chance of this crime occuring in \033[1m Cantt")     
elif(predict == 3):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Chung")
elif(predict == 4):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Defence A")
elif(predict == 5):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Faisal Town")
elif(predict == 6):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Gardan Town")
elif(predict == 7):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Green Town")
elif(predict == 8):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Gulberg")
elif(predict == 9):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Gulshan Ravi")
elif(predict == 10):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Hadyara")
elif(predict == 11):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Ichra")
elif(predict == 12):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Johar Town")
elif(predict == 13):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Lyton Road")
elif(predict == 14):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Model Town")
elif(predict == 15):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Mozang")
elif(predict == 16):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Mughal Pura")
elif(predict == 17):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Muslim Town")
elif(predict == 18):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Race Course")
elif(predict == 19):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Raiwind")
elif(predict == 20):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Ravi Road")
elif(predict == 21):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Sabzazar")
elif(predict == 22):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Saman Abad")
elif(predict == 23):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Sarwar Road")
elif(predict == 24):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Shad Bagh Abad")
elif(predict == 25):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Shadman")
elif(predict == 26):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m Shahdra Town")
elif(predict == 27):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m barki road")
elif(predict == 28):
    print("There is a", result*100 , "% chance of this crime occuring in \033[1m barki road")

Please enter crime :35
There is a 12.633769322235434 % chance of this crime occuring in  barki road